@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 400;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 400;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 100;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 100;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 200;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 200;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-ExtraLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 300;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Light.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 300;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 500;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 500;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 700;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 700;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 800;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 800;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: 900;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Geometria';
  font-style: italic;
  font-weight: 900;
  src: local('Geometria'), url('https://fonts.cdnfonts.com/s/14868/Geometria-HeavyItalic.woff') format('woff');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Geometria', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: contain;
}
p {
  line-height: 1.6;
  font-size: 14px;
}
/* <--------  base start  --------> */

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

:root {
  --col-1: #75787e;
  --col-2: #e5e5e5;
  --btn-col-1: #ed4543;
  --btn-col-2: #d7301a;
  --area-1: #f371d1;
  --area-2: #1e98ff;
  --area-3: #ed4543;
}

h2 {
  font-size: 24px;
}
button {
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

/* <--------  base end  --------> */

/* <--------  header start  --------> */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--col-1);
  padding: 20px 0;
}
.logo > img {
  width: 115px;
  height: 60px;
}
.nav a {
  transition: 0.3s;
  padding: 15px;
}
.nav a:hover {
  color: var(--btn-col-1);
}

.nav {
  display: flex;
}

.account {
  width: 250px;
  display: flex;
}
.account img {
  width: 20px;
  height: 20px;
}
.account i {
  font-size: 25px;
}
.account button {
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  background: none;
}
.account-room-btn {
  cursor: pointer;
  padding: 10px;
  margin-right: 15px;
}
.account-balance-btn {
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  position: relative;
  color: var(--btn-col-1);
  align-items: center;
}
.account-balance {
  font-size: 16px;
  color: #4b4b4b;
  font-weight: 500;
  margin-left: 10px;
  display: flex;
  text-align: center;
}
.quantity {
  color: #fff;
  background: #57bc34;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.contact-number > i {
  font-size: 25px;
  margin-right: 15px;
}
.number > :first-child {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.header-bottom {
  position: sticky;
  top: 0;
  border-top: 1px solid var(--col-2);
  border-bottom: 1px solid var(--col-2);
  box-shadow: 0 5px 15px rgba(79, 81, 89, 0.1);
  background: #fff;
  z-index: 1000;
}
.header-bottom a {
  padding-bottom: 25px;
  transition: 0.3s;
  position: relative;
  justify-content: center;
}
.header-bottom a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--btn-col-1);
  transition: 0.3s;
}
.header-bottom a:hover {
  color: var(--btn-col-1);
}
.header-bottom a:hover::before {
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding-top: 20px;
}
.bottom-nav > li:not(:first-child) {
  margin-left: 30px;
}

/* <--------  header done  --------> */

/* <--------  hero start  --------> */

.hero-top-slider {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}

/* <--------  orders start  --------> */

.hot-orders h2 {
  margin: 40px 0 20px 0;
}

/* <--------  orders done  --------> */

/* <--------  promocode start  --------> */

.promocode {
  width: 390px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 10px;
  margin: 40px auto;
}
.promocode input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #d6d6d6;
  padding-left: 20px;
}

/* <--------  promocode done  --------> */

/* <--------  menu start  --------> */
.title {
  font-size: 24px;
}
.pizza-choose {
  display: flex;
  flex-wrap: wrap;
}
.pizza-section:not(:nth-child(4n + 0)) {
  margin: 0 30px 30px 0;
}

/* <--------  menu done  --------> */

/* <--------  delivery start  --------> */

/* <--------  delivery done --------> */

.delivery-main {
  padding: 35px;
  background: #f8f8f8;
  border-radius: 10px;
  margin: 60px 0;
}
.delivery-info {
  color: #4b4b4b;
  margin-top: 20px;
  width: 670px;
}

/* <--------  delivery done --------> */

/* <--------  footer start --------> */

.footer {
  background: #2f3952;
  color: #fff;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0;
  border-bottom: 1px solid #75787e;
}
.footer-sections-menu {
  display: flex;
}
.footer-sections-menu li {
  margin-right: 40px;
  transition: 0.3s;
}
.footer-sections-menu li:hover {
  color: var(--btn-col-2);
}
.socials {
  display: flex;
  transition: 0.3s;
}
.socials a {
  width: 40px;
  height: 40px;
  background: #75787e;
  border-radius: 999px;
  margin-right: 25px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}
.socials a:hover {
  background: var(--btn-col-2);
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer-txt {
  width: 670px;
}
.footer-txt p {
  font-size: 12px;
  font-weight: 400;
}
.footer-txt p:not(:last-child) {
  margin-bottom: 15px;
}
.footer-cards {
  display: flex;
  flex-direction: column-reverse;
}
.footer-cards div {
  margin-bottom: 10px;
}

/* <--------  footer done --------> */

/* <--------  UI kit css  --------> */

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* btn ui*/
.btn {
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 16px;
  min-width: 130px;
  cursor: pointer;
  align-self: center;
  border: 1px solid transparent;
}
.btn > i.icon-left {
  margin-right: 10px;
}
.btn > i.icon-right {
  margin-left: 10px;
}
.btn-group {
  display: flex;
}
.btn-group > * {
  border-radius: 0;
  min-width: auto;
}
.btn-group > :first-child {
  border-radius: 8px 0 0 8px;
}
.btn-group > :last-child {
  border-radius: 0 8px 8px 0;
}

.btn-primary {
  background: var(--btn-col-1);
  color: #fff;
}
.btn-outline-primary {
  border-color: var(--btn-col-1);
  background: transparent;
  color: var(--btn-col-1);
}
.btn-outline-primary i{
  margin-left: 20px;
}
.btn-outline-light {
  border-color: #eee;
  background: #fff;
  color: #333;
}
.btn-light {
  min-width: 150px;
  max-width: 225px;
  width: 100%;
  background: transparent;
  color: #333;
}
.btn-group .btn-primary{
  padding: 10px 15px;
}
.btn-success {
  background: #70a32a;
  color: #fff;
  padding: 10px 15px;
}
.btn-primary:hover,
.btn-primary.active {
  background: var(--btn-col-2);
}
.btn-light:hover,
.btn-light.active {
  box-shadow: 0 3px 5px rgba(120, 125, 139, 0.15);
  background: #fff;
}
.btn-outline-light:hover,
.btn-outline-light.active {
  border-color: #eee;
  background: #eee;
  color: #333;
}
.btn-outline-primary:hover,
.btn-outline-primary.active {
  border-color: var(--btn-col-2);
  background: var(--btn-col-2);
  color: #fff;
}
.btn-success:hover,
.btn-success.active {
  background: #3ca318;
}
/*promo ui*/

.promo {
  position: relative;
  width: 360px;
  box-shadow: 0 5px 15px rgba(79, 81, 89, 0.5);
  padding: 30px 45px;
  border-radius: 10px;
  margin: 0;
}
.promo-main {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-info {
  text-align: center;
  padding-bottom: 25px;
  color: var(--btn-col-1);
  font-size: 18px;
}
.promo-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
}

.corect {
  color: #333;
}
.corect-btn {
  background: #70a32a;
}
.corect-btn:hover {
  background: #3ca318;
}

/*pizza section*/

.pizza-section {
  width: 270px;
}

.pizza-section > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #ccc;
}
.pizza-info {
  margin-bottom: 10px;
}
.pizza-title {
  margin: 10px 0;
  font-size: 18px;
}
.pizza-components {
  font-size: 14px;
  color: #75787e;
}

.buy-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discount-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.price {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.last-price {
  color: #b3b1b1;
}


.order-choose-section {
  padding: 10px 30px 10px 20px;
  width: 220px;
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
}
.order-choose-section:hover {
  box-shadow: 0 5px 15px 0 #787d8b26;
}
.order-choose-section img :first {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.new-pizza {
  width: 35px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.order-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.order-info h3 {
  margin-top: 10px;
}
.order-btn {
  margin-bottom: 10px;
  width: 80px;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background: rgba(231, 53, 29, 0.1);
  color: #e94f1d;
}

.feedback {
  padding: 40px 0 60px 0;
}
.feedback-main h1 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
}
.feedback-col {
  width: 270px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(117, 120, 126, 0.25);
  margin: 0 15px;
}
.feedback-name {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.feedback-coment {
  color: #75787e;
}
.feedback-slider {
  display: flex;
  justify-content: space-between;
}

/* pizza topics start*/

.pizza-settings-main {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.pizza-settings-img {
  width: 530px;
  padding: 0 65px;
}
.pizza-settings-img img {
  width: 400px;
}
.pizza-settings-details {
  width: 600px;
  font-size: 16px;
}
.pizza-set-title {
  font-size: 36px;
  font-weight: 500;
}
.size-info {
  color: #75787e;
  margin: 10px 0 20px 0;
}
.pizza-set-bottom {
  width: 460px;
}
.size-choose-section{
  display: flex;
  justify-content: space-between;
  background: #F1F2F3;
  margin: 20px 0 10px 0;
  border-radius: 8px;
  padding: 3px;
  width: 460px
}








.buy-info-sec {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.topics-section {
  padding: 60px 0;
}
.topics {
  margin-top: 20px;
}
.topic-slide {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  padding: 20px;
  transition: 0.3s;
}
.topic-slide:hover {
  box-shadow: 0 8px 24px 0 #0000001a;
}
.topic-slide img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.topic-slide h3 {
  font-size: 14px;
  font-weight: 400;
}
.topic-slide .price {
  margin: 10px 0;
}
.topic-slide-btn {
  border: 1px solid transparent;
}
.topic-slide-btn:hover {
  background: #fff;
  border: 1px solid var(--btn-col-2);
  color: var(--btn-col-2);
}

/*         pizza topics end*/

/*              stocks start*/
.stocks {
  padding: 40px 0;
}
.stocks-main h1 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
}
.stock-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.more-details {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid var(--btn-col-2);
  background: #fff;
  color: var(--btn-col-2);
  font-weight: 500;
}
.more-details i {
  font-size: 14px;
}
.stock-section {
  width: 370px;
  margin-bottom: 40px;
}
.stock-section img {
  border: radius 10px;
  overflow: hidden;
}
.stock-section h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.stock-section p {
  color: #75787e;
  font-size: 14px;
  font-family: 400;
  margin: 20px 0;
}

/*              stocks done*/

/*              delivery start*/

.delivery-questions-main {
  padding: 30px 0;
}
.delivery-questions-main h2 {
  font-size: 36px;
  margin: 30px 0;
}
.location h2 {
  font-size: 36px;
  margin: 30px 0;
}
.help-delivery-main {
  display: flex;
  justify-content: space-between;
}
.delivery-help-section {
  width: 370px;
  padding: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.delivery-help-section h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.delivery-help-section p {
  color: #75787e;
  margin-bottom: 10px;
}

/*          location start*/
.location-main {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.location-map {
  background: #3f4651;
  border: 1px solid #f1f2f3;
  border-radius: 10px;
}

/*           delivery-area*/
.delivery-area {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 30px 50px 0 30px;
}
.delivery-area-cost .area-cost-section:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
  width: 415px;
  margin-bottom: 30px;
}
.area-cost-section h3 {
  font-size: 18px;
  font-weight: 500;
}
.area-cost-section h3::before {
  content: '';
  background: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
}
.area-cost-section span {
  color: #75787e;
  margin: 15px 0 40px 0;
}

/* stocks-next        */
.menu-section h2 {
  margin: 40px 0 20px 0;
  font-size: 20px;
}

.stock-choose-info {
  display: flex;
}
.stock-choose-main {
  padding: 40px 0;
  border-bottom: 1px solid #e5e5e5;
}
.stock-choose-main img {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.stock-choose-txt {
  margin-left: 25px;
}
.stock-choose-main h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.stock-choose-main p {
  width: 470px;
  font-size: 16px;
  color: #75787e;
}
