@import url('http://fonts.cdnfonts.com/css/geometria');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  font-family: 'Geometria', sans-serif;
  font-weight: 500;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

img{
  display: block;
  height: auto;
  width: 100%;
}
/* <--------  base start  --------> */

.container{
  max-width: 1170px;
  margin:0 auto;
  width: 100%;
}

:root{
  --col-1:  #75787E;
  --col-2: #E5E5E5;
  --btn-col-1:#E94F1D;
  --btn-col-2:#D7301A;
}

/* <--------  base start  --------> */


/* <--------  header start  --------> */


.header{
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--col-1);
}
.nav a{
  transition: .3s;
}
.nav a:hover{
  color: var(--btn-col-1);
}

.nav{
  width: 360px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}






.header-bottom{
  position: sticky;
  top: 0;
  border-top:  1px solid var(--col-2) ;
  border-bottom:  1px solid var(--col-2) ;
  box-shadow: 0 5px 15px rgba(79, 81, 89, 0.1);
}
.header-bottom a {
  padding-bottom: 0;
  transition: 0.3s;
  position: relative;
  justify-content: center;
}
.header-bottom a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--btn-col-1);
  transition: .3s;
}
.header-bottom a:hover{
  color: var(--btn-col-1);
}
.header-bottom a:hover::before {
  width: 100%;
}


.header-bottom>.container{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 20px 0;
}






























/* <--------  UI kit css  --------> */

.main{
  display: flex;
}

/* btn ui*/
.choose-btn, .min{
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--btn-col-1);
  color: #fff;
  border:none;
  transition: .3s;
  font-size: 14px;
  width: 105px;
}
.choose-btn, .max{
  padding: 10px 30px;
  border-radius: 8px;
  background: var(--btn-col-1);
  color: #fff;
  border:none;
  transition: .3s;
  font-size: 16px;
  width: 130px;
}
.choose-btn:hover{
  background: var(--btn-col-2);
}

/*promo ui*/

.promo{
  position: relative;
  width: 360px;
  box-shadow: 0 5px 15px rgba(79, 81, 89, 0.5);
  padding: 30px 45px;
  border-radius: 10px;
}
.promo-main{
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-info{
  text-align: center;
  padding-bottom: 25px;
  color: var(--btn-col-1);
  font-size: 18px;
}
.promo-cross{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
}

.corect{
  color: #333;
}
.corect-btn{
  background: #70A32A;
}